
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --priCol: #4a4a4a;
    --accCol: #2a98bb;
    --fontcolor: #101010;
    --fontcolorLight1: gray;
    --fontfamily: 'Asap';
    --headerHeight: 800px;
    --basicFontSize: 1.2rem;
    --ezCol: rgb(109,72,121);
    --ezColLight: rgb(177,128,194);
    --errorColor : #ea0505
}
/*#region Default App and Header Tab */
.App {
    color: var(--priCol);
    font-family: var(--fontfamily);
}

/*#endregion */
/*#region Navigation */
.rocNav {
    color: white;
    padding: 10px;
    text-align: center
}

    .rocNav:hover {
        text-decoration: underline;
        color: white
    }

    .rocNav:focus {
        text-decoration: underline;
        color: white
    }

    .rocNav.disabled {
        color: #6c757d
    }
/*#endregion */
/*#region Alpha */
.lowalpha {
    opacity: 0.8
}

.xxlowalpha {
    opacity: 0.4
}
/*#endregion */
/*#region Fonts */
.title {
    font-size: calc(var(--basicFontSize)*3);
}

.stitle {
    font-size: calc(var(--basicFontSize)*2);
}

.sstitle {
    font-size: calc(var(--basicFontSize)*1.5);
}

.ssstitle {
    font-size: calc(var(--basicFontSize)*1.1);
}

.bold {
    font-weight: bold
}

.whitecolor {
    color: white
}

.primcolor {
    color: var(--ezCol)
}

.remarks {
    font-size: calc(var(--basicFontSize)*0.8);
}


.floRig {
    float: right;
}

.minheig80 {
    min-height: 80vh;
}



/*#endregion */
/*#region Media Screens*/
/*Min-width: 320px (smaller phone viewpoints)
Min-width: 480px (small devices and most phones)
Min-width: 768px (most tablets)
Min-width: 992px (smaller desktop viewpoints)
Min-width: 1200px (large devices and wide screens)
*/
@media screen and (min-width: 0px) {
    .screensize {
        background-color: red;
    }

    .logosize {
        width: 2em;
        height: 2em;
    }

    .handsmobile {
        width: 45%;
        float: right;
        position: absolute;
        right: 5%;
        bottom: 0
    }

    .headersize {
        font-size: calc(var(--basicFontSize)*0.7);
    }

    .handvisible {
        visibility: collapse;
    }

    .mainImgOverlSize {
        font-size: calc(var(--basicFontSize)*1.6);
        font-weight: bold;
    }

    .mainImgOverlSSize {
        font-size: calc(var(--basicFontSize)*0.7);
    }
}

@media screen and (min-width: 320px) {
    .screensize {
        background-color: green;
    }
}

@media screen and (min-width: 480px) {
    .screensize {
        background-color: blue;
    }
}

@media screen and (min-width: 768px) {
    .screensize {
        background-color: orange;
    }

    .logosize {
        width: 4em;
        height: 4em;
    }

    .headImagemargin {
        margin-right: 30px;
        margin-left: 30px;
    }

    .headersize {
        font-size: calc(var(--basicFontSize)*2)
    }

    .mainImgOverlSize {
        font-size: calc(var(--basicFontSize)*2.5);
        font-weight: bold;
    }

    .mainImgOverlmargin {
        margin-left: 15%;
    }

    .mainImgOverlSSize {
        font-size: calc(var(--basicFontSize)*1.5);
    }

    .handvisible {
        visibility: visible;
    }
}

@media screen and (min-width: 992px) {

    .screensize {
        background-color: yellow;
    }
}

@media screen and (min-width: 1100px) {
    .mainimageFooterouter {
        visibility: collapse;
        height: 0
    }
}

@media screen and (max-width: 1100px) {
    .mainimageFooter {
        visibility: collapse
    }
}

@media screen and (min-width: 1200px) {
    .screensize {
        background-color: mediumpurple;
    }
}




.whitesvg {
    width: 30px;
    height: 20px;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(4515%) hue-rotate(83deg) brightness(123%) contrast(110%);
}


/*#endregion*/
/*#region Components*/


.flexrow {
    display: flex;
    flex-direction: row;
}

    .flexrow.spacearround {
        justify-content: space-around
    }

    .flexrow.spacebetween {
        justify-content: space-between
    }

    .flexrow.end {
        justify-content: flex-end
    }

    .flexrow.wrap {
        flex-wrap: wrap
    }

.flexcolumn {
    display: flex;
    flex-direction: column;
}

    .flexcolumn.spacearround {
        justify-content: space-around
    }

.Card {
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    color: black
}

.circleImage {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: var(--ezCol);
    border-radius: 100%;
    object-fit: contain;
    width: 64px;
    height: 64px;
    padding: 10px;
}
/*#endregion*/

/*#region form Controls*/
.formGroup {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 15px
}
.inputTextError {
    border-color:var(--errorColor)
}
.formValidation {
    color: var(--errorColor)
}
/*#endregion*/


/*#region Debug */
.cprim {
    background-color: var(--ezCol)
}

.cprimlight {
    background-color: var(--ezColLight)
}

.cr {
    background-color: red
}

.cb {
    background-color: blue
}

.cbe {
    background-color: beige
}

.colSupLigGra {
    background-color: #f3f3f3
}
/*#endregion */


